<div
  class="
    d-flex
    justify-content-between
    flex-wrap flex-md-nowrap
    align-items-center
    pt-3
    pb-2
    mb-3
    border-bottom
  "
>
  <h1 class="h2">Dashboard</h1>
  <form>
    <div class="form-row d-flex-justify-content-between">
      <!-- Desde -->
      <div class="col-md-4">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="far fa-calendar-alt"></i>
            </div>
          </div>
          <input type="text"
           placeholder="Datepicker"
           class="form-control"
           bsDatepicker
           [bsConfig]="{ isAnimated: true }">
        </div>
      </div>
      <!-- Hasta -->
      <div class="col-md-4">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="far fa-calendar-alt"></i>
            </div>
          </div>
          <input type="text"
           placeholder="Datepicker"
           class="form-control"
           bsDatepicker
           [bsConfig]="{ isAnimated: true }">
        </div>
      </div>
      <!-- Paises -->
      <div class="col-md-4">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fas fa-globe"></i>
            </div>
          </div>
          <select>
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </div>
      </div>
    </div>
  </form>
</div>

<canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
